.homes  .card{
    min-width: 13rem;
    max-width: 24rem;

}
.homes .text-small{
    font-size: 0.6rem;
}
.btn-favorits{
    outline: none;
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    font-size: 1.2rem;
}

.img-loading{
    height: 250px;
}