.input-form{
    padding: 0.4rem;
    outline: none;
    border: 0;
    width: 100%;
    color: #444;
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255,0.4);
}
.input-form:focus{
    border-bottom: 2px;
    border-bottom-color: rgb(0, 0, 0);
    border-style: solid;
}